@import "fonts.css";

body {
    font-family: 'OpenSans', sans-serif;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.container-polygon {
    clip-path: polygon(100% 50%, 0 0, 52% 25%, 65% 20%);
    margin: auto;
    background-color: #ff0000;
    height: 300px;
}

.swiper-container {
    width: 300px;
}

[class^='swiper-button'] {
    color: #ff0000;
}

.logo {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    background: url("../img/logo.png") no-repeat center/cover;
}

.logo.border {
    border-radius: 50%;
    border: 2px solid #9abdff;
}
